@media screen and (max-width: 320px) {

     .coursedescription {

    }

}


@media screen and (min-width: 320px) {

    .coursedescription {
        padding: 20px;
        /* background-color: #fff; */
        background-color: var(--card-background-color);
        width: 100%;
      }
      
      .coursedescription h2 {
        font-size: 31px;
        font-family: 'Mulish Bold';
        margin-bottom: 15px;
      }
      
      .coursedescription p {
        font-size: 16px;
        font-family: 'Mulish';
        line-height: 1.5;
        color: #4a4a4a;
        margin-bottom: 15px;
        text-align: justify;
      }
      
      .see-more {
        background: none;
        border: none;
        color: #6a0dad;
        font-size: 16px;
        font-family: 'Mulish';
        cursor: pointer;
        text-decoration: underline;
      }
      
      .see-more:hover {
        color: #4a0a8a;
      }
      

}


@media screen and (min-width: 768px) {

     .coursedescription {

    }

}


@media screen and (min-width: 1024px) {

     .coursedescription {

    }

}

