@media screen and (max-width: 320px) {

     .coursesaccordion {

    }

}


@media screen and (min-width: 320px) {

   
    .coursesaccordion {
        width: 100%;
        background-color: #f8f8fc;
        /* border: solid orange 1px; */
        /* border-radius: 10px; */
        padding: 10px;
      }
      
      .accordion-item {
        /* background: #fff; */
        background-color: var(--card-background-color);
        /* border-radius: 8px; */
        /* margin-bottom: 10px; */
        border-bottom: solid 1px silver;
        /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); */
        overflow: hidden;
        font-family: 'Mulish';
      }
      
      .accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        cursor: pointer;
        font-size: 16px;
        font-family: 'Mulish Bold';
        font-weight: 500;
      }
      
      .accordion-header h3 {
        margin: 0;
      }
      
      .accordion-content {
        padding: 10px 15px;
        border-top: 1px solid #e6e6e6;
        font-family: 'Mulish';
        background-color: #fafafa;
      }
      
      .lesson-item {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px solid #e6e6e6;
        font-family: 'Mulish';
        font-size: 14px;
        cursor: pointer;

      }
      
      .lesson-item:last-child {
        border-bottom: none;
      }
      
      .lesson-title {
        display: flex;
        align-items: center;
      }
      
      .lesson-duration {
        color: #888;
        font-size: 12px;
      }

      .video-icon {
        margin-right: 5px;
      }
      

}


@media screen and (min-width: 768px) {

     .coursesaccordion {

    }

}


@media screen and (min-width: 1024px) {

     .coursesaccordion {

    }

}

