@media screen and (max-width: 320px) {

     .courserequirements {

    }

}


@media screen and (min-width: 320px) {

    .courserequirements {
        padding: 20px;
        /* background-color: #fff; */
        background-color: var(--card-background-color);
        width: 100%;
      }
      
      .courserequirements h2 {
        font-size: 31px;
        margin-bottom: 15px;
        font-family: 'Mulish Bold' ;
        text-align: left;
        color: black
      }
      
      .courserequirements ul {
        list-style-type: none; /* Remove default bullets */
        padding-left: 0;
      }
      
      .requirement-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 16px;
        font-family: 'Mulish';
        text-align: justify;
      }
      
      .bullet {
        color: #d3bffa; /* Light purple color for the bullet */
        font-size: 14px;
        font-family: 'Mulish';
        margin-right: 10px;
      }
      

}


@media screen and (min-width: 768px) {

     .courserequirements {

    }

}


@media screen and (min-width: 1024px) {

     .courserequirements {

    }

}

