@media screen and (max-width: 320px) {

    .explore {
        width: 95%;
        /* min-height: calc(100vh - 80px); */
        height: 1000px;
        /* margin-top: 60px; */
        padding-top: 120px;
        position: absolute;
        /* margin-top: -180px; */
        top: 0;
        /* margin: auto; */
        /* border: solid red 1px; */

    }

    .result-heading {
        font-family: 'Mulish Bold';
        font-size: 31px;
        margin-top: 30px;
    }

    .search-result-container {
        margin-top: 30px;
        height: fit-content;
        min-height: 500px;
        display: flex;
        flex-direction: column;
    }
}


@media screen and (min-width: 320px) {

     .explore {
        width: 95%;
        /* min-height: calc(100vh - 80px); */
        height: 1000px;
        /* margin-top: 60px; */
        padding-top: 120px;
        position: absolute;
        /* margin-top: -180px; */
        top: 0;
        /* margin: auto; */
        /* border: solid red 1px; */

    }

    .result-heading {
        font-family: 'Mulish Bold';
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 35px 0px 10px;
    }

    .result-heading > span:first-child {
        font-size: 31px;
        color: var(--active-nav-btn-color)
    }

    /* .result-heading > span:nth-child(2) {
        font-size: 18px;
        border: solid red 1px;
    } */

    .cart-container {
        font-size: 18px;
        /* border: solid blue 1px; */
        color: var(--active-nav-btn-color);
        height: 50px;
        width: 50px;
        display: flex;
        flex-direction: column;
    }

    .cart-container span:first-child {
        display: flex;
        /* border: solid red 1px; */
        flex-direction: row;
        justify-content: flex-end;
        font-size: 18px;
    }

    .cart-container span:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 31px;
    }

    .search-result-container {
        margin-top: 30px;
        height: fit-content;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 100px;
    }

    .no-result {
        /* border: solid red 1px; */
        width: 400px;
        height: 50px;
        position: absolute;
        margin-left: calc((100% - 400px)/2);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: 'Mulish Bold';
        font-size: 1.2em;
        color: var(--active-nav-btn-color);
        
    }

}


@media screen and (min-width: 672px) {

     .explore {
        /* min-height: calc(100vh - 120px); */
        height: 100%;
        width: 95%;
        padding-top: 160px;


    }

    .search-result-container {
        margin-top: 30px;
        height: fit-content;
        min-height: 500px;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;
    }

}


@media screen and (min-width: 1024px) {

     .explore {

        /* min-height: calc(100vh - 80px); */
        padding-top: 20px;
        padding-bottom: 150px;
        width: 95%;
        height: 100%;



    }

    .search-result-container {
        margin-top: 30px;
        height: fit-content;
        min-height: 500px;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        justify-content: center;
        align-items: center;
    }

}

