@media screen and (max-width: 320px) {

    .instructorprofilepage {
        /* border: solid red 1px; */
        min-height: calc(100vh - 80px);
        width: 100%;
   }

   .instructor-page-title {
       /* border: solid green 1px; */
       height: 60px;
       position: fixed;
       width: 300px;
       background-color: white;
       padding: 15px;
       font-size: 24px;
       box-shadow: 1px 1px 2px 1px gray;
       font-family: 'Mulish Bold';
   }

   .instructor-card-container {
       width: 285px;
       margin-left: 2.5%;
       margin-top: 110px;
       /* border: solid orange 1px; */
       height: 600px;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
   }

}


@media screen and (min-width: 320px) {

     .instructorprofilepage {
         /* border: solid red 1px; */
         min-height: calc(100vh - 80px);
         width: 100%;
    }

    .instructor-page-title {
        /* border: solid green 1px; */
        height: 60px;
        position: fixed;
        width: 100%;
        background-color: white;
        padding: 15px;
        font-size: 24px;
        box-shadow: 1px 1px 2px 1px gray;
        font-family: 'Mulish Bold';
        z-index: 1;
    }

    .instructor-card-container {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 180px;
        /* border: solid orange 1px; */
        height: 600px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 120px;
    }

    .instructor-page-bottom {
        margin-top: 20px;
        width: 95%;
        margin-left: 2.5%;
        /* border: solid green 1px; */
        min-height: 120px;
    }

    .instructor-bottom-title {
       width: 100%;
       font-size: 24px;
       font-family: 'Mulish Bold'; 
       padding-left: 15px;
    }

    .instructor-top-courses {
        /* border: solid orange 1px; */
        min-height: 350px;
        width: 100%;
        margin-top: 15px;
        display: flex;
        padding-left: calc((100% - 260px)/2);
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

}


@media screen and (min-width: 672px) {

     .instructorprofilepage {

    }

    .instructor-card-container {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 70px;
        /* border: solid orange 1px; */
        height: 600px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .instructor-page-title {
        /* border: solid green 1px; */
        height: 60px;
        position: fixed;
        width: 100%;
        background-color: white;
        padding: 15px;
        font-size: 24px;
        box-shadow: 1px 1px 2px 1px gray;
        font-family: 'Mulish Bold';
        z-index: 1;
    }

    .instructor-top-courses {
        /* border: solid orange 1px; */
        min-height: 350px;
        width: 100%;
        margin-top: 15px;
        display: grid;
        grid-template-columns: 50% 50%;
        align-content: center;
        justify-content: center;
        padding-left: 25px;
        /* padding-left: calc((100% - 300px)/2); */
        /* flex-direction: row;
        align-items: center;
        flex-wrap: wrap; */
    }



}


@media screen and (min-width: 1024px) {

     .instructorprofilepage {

    }

    .instructor-card-container {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 70px;
        padding-left: 15px;
        /* border: solid orange 1px; */
        height: 600px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .instructor-top-courses {
        /* border: solid orange 1px; */
        min-height: 350px;
        width: 100%;
        margin-top: 15px;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        align-content: center;
        justify-content: center;
        
    }

    


}

