@media screen and (max-width: 320px) {

     .successhabit {

    }

}


@media screen and (min-width: 320px) {

    .successhabit {
        position: relative;
        width: 100%;
        height: 400px; /* Adjust height as needed */
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15px;
        justify-content: center;
        background-color: #dcdce6; /* Fallback color if the image fails to load */
      }
      
      .overlay-content {
        position: absolute;
        text-align: left;
        /* border: solid red 1px; */
        color: #1b1b1d; /* Dark color for contrast */
        padding: 20px;
        font-family: 'Mulish Bold';
      }
      
      .overlay-content h1 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 8px;
        /* color: var(--active-nav-btn-color); */
        color: white;

      }
      
      .overlay-content p {
        font-family: Mulish;
        font-size: 16px;
        color: #666;
        margin-bottom: 16px;
      }
      
      .explore-button {
        background-color: var(--active-nav-btn-color);
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'Mulish Bold';
        font-size: 16px;
        /* text-transform: uppercase; */
      }
      
      .explore-button:hover {
        background-color: #5a4ecc;
      }
      

}


@media screen and (min-width: 768px) {

     .successhabit {

    }

}


@media screen and (min-width: 1024px) {

     .successhabit {

    }

}

