@media screen and (max-width: 320px) {

     .videopage {

    }

}


@media screen and (min-width: 320px) {

    .videopage {
        /* border: solid red 1px; */
        min-height: calc(100vh - 80px);
        width: 100%;
    }

    .video-body {
        /* border: solid red 1px; */
        width: 100%;

    }

    .video-body-left {

    }

    .video-body-right {

    }
    .video-top {

    }


    .video-bottom {
        font-family: Arial, sans-serif;
        width: 95%;
        margin-left: 2.5%;
        /* margin: 20px auto; */
        margin-top: 50px;
        font-family: 'Mulish';
      }
      
      h1 {
        font-size: 1.8rem;
        margin-bottom: 10px;
        font-family: 'Mulish Bold';
        /* width: 95%; */
        /* border: solid red 1px; */
        /* padding-left: 15px; */
      }
      
      .tab-header {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
      }
      
      .tab-header button {
        background-color: transparent;
        border: none;
        font-size: 1rem;
        padding: 10px 20px;
        cursor: pointer;
        color: #555;
        border-bottom: 2px solid transparent;
        transition: border-color 0.3s ease;
      }
      
      .tab-header button.active {
        color: #000;
        border-bottom: 2px solid #000;
      }
      
      .tab-content {
        font-size: 1rem;
        color: #555;
        line-height: 1.6;
      }
      
      .tab-content a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
      }
      
      .tab-content a:hover {
        text-decoration: underline;
      }
      

}


@media screen and (min-width: 672px) {

     .videopage {

    }

}


@media screen and (min-width: 1024px) {

    .videopage {
        /* border: solid red 1px; */
        min-height: calc(100vh - 80px);
        width: 100%;
    }

    .video-body {
        /* border: solid red 1px; */
        width: 95%;
        margin-left: 2.5%;
        height: fit-content;
        display: block;
        box-sizing: border-box;
        margin-top: 100px;

    }

    .video-body-left {
        width: 60%;
        float: left;
        /* border: solid green 1px; */
        height: fit-content;

    }

    .video-body-right {
        width: 40%;
        float: right;
        /* border: solid blue 1px; */
        min-height: 600px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .video-top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

      .video-course-content {
        font-size: 24px;
        font-family: 'Mulish Bold';
        margin-top: 15px;
        padding-left: 15px;
      }

      .video-accordion-container {
        width: 80%;
        min-height: 500px;
        background-color: var(--card-background-color);
        border-radius: 15px;
        box-shadow: 1px 1px 2px 1px gray;
      }
    

}

