@media screen and (max-width: 320px) {

     .whatyouwilllearn {

    }

}


@media screen and (min-width: 320px) {

    .whatyouwilllearn {
        padding: 20px;
        /* background-color: #fff; */
        background-color: var(--card-background-color);
        width: 100%;
        /* border: solid orange 1px; */
      }
      
      .whatyouwilllearn h2 {
        font-size: 31px;
        font-family: 'Mulish Bold';
        margin-bottom: 15px;
        text-align: left;
        color: black;
      }
      
      .learning-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns */
        gap: 15px;
      }
      
      .learning-item {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-family: 'Mulish';
      }
      
      .checkmark {
        margin-right: 10px;
        /* color: #20c997; Green color for the checkmark */
        color: black;
      }
      

}


@media screen and (min-width: 768px) {

     .whatyouwilllearn {

    }

}


@media screen and (min-width: 1024px) {

     .whatyouwilllearn {

    }

}

