:root {
  --light-separator-color: #E1E1E1;
  --active-nav-btn-color: #5541D7;
  --active-nav-text-color: #F7F7FC;
  --inactive-nav-icon-color: #9A9AB0;
  --active-nav-icon-color: #FFFFFF;
  --app-black-text-color: #11142D;
}

@font-face {
  font-family: Mulish;
  src: url('../public/assets/fonts/Mulish-Regular.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Mulish Bold';
  src: url('../public/assets/fonts/Mulish-Bold.ttf');
  font-weight: 700;
}



*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--app-black-text-color);
}


@media screen and (min-width: 320px) {


}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1024px) {
  
}






















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
